*.pyc
*.jou
*backup.log
*vivado.log
FPGA/Zynq_PL/.Xil/*
FPGA/Zynq_PL/NET2FPGA.cache/*
FPGA/Zynq_PL/NET2FPGA.hw/*
FPGA/Zynq_PL/NET2FPGA.runs/*
FPGA/Zynq_PL/NET2FPGA.sim/*
Python/settings.py
Python/SETTINGS.py